.section_50 {
	margin-top: 50px;
	margin-bottom: 10px;
}

.section_15 {
	margin-top: 15px;
	margin-bottom: 10px;
}

input[type=text] {
	width: 150px;
	display: inline;
	direction: rtl;
}

.mode-button {
	width: 150px;
}

.set-btn {
	width: 60px;
}

.ana-row {
	background: aliceblue;
	padding: 30px 40px;
}

.capa-row {
	background: lightcyan;
	padding: 30px 40px;
}

.ana-title {
	display: block;
	margin-top: 10px;
}

.ana-form {
	display: block;
	margin-top: 15px;
}

.ana-chart {
	height: 370px;
	max-width: 920px;
	margin: 30px auto;
	display: block;
}

.capa-title {
	display: block;
	margin-top: 10px;
}

.capa-form {
	display: block;
	margin-top: 15px;
}

.capa-chart {
	height: 370px;
	max-width: 920px;
	margin: 30px auto;
	display: block;
}